In [13]:
import pandas as pd

In [14]:
# Import the CSV file and create a DataFrame.
player_df_final = pd.read_csv('player_data_final.csv')

In [15]:
# Create a DataFrame of only Tune Squad players.
ts_df = player_df_final.iloc[26: , :]
ts_df

,ID,player,points,possessions,team_pace,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER
26,31,tune_squad1,2049.0,1434.0,110.0,64.000000,38.800000,0.619,31.5,14.9,35.5,8.3,17.6,12.8,28.440000
27,32,tune_squad2,1795.0,1481.8,112.1,62.000000,35.400000,0.608,31.9,14.5,32.0,6.5,22.5,12.9,23.340000
28,33,tune_squad3,1805.0,1509.9,108.6,64.000000,35.400000,0.622,27.9,13.9,36.0,5.9,27.7,12.2,22.410000
29,34,tune_squad4,1743.0,1422.4,112.9,64.000000,36.300000,0.619,30.9,15.6,34.5,5.9,18.9,14.8,29.853138
30,35,tune_squad5,1963.0,1539.1,117.4,59.771429,35.208333,0.633,32.3,16.2,34.0,5.9,19.8,13.1,27.160000
31,36,tune_squad6,2062.0,1505.7,111.5,59.771429,37.000000,0.620,29.8,15.6,36.2,4.9,23.9,14.7,27.860000
32,37,tune_squad7,1845.0,1435.7,113.1,69.000000,36.900000,0.634,33.2,14.0,36.5,4.1,21.5,16.4,34.260000
33,38,tune_squad8,1778.0,1526.4,109.3,66.000000,34.900000,0.612,30.6,15.9,35.9,5.5,18.8,13.7,28.650000
34,39,tune_squad9,1901.0,1444.1,109.7,67.000000,36.500000,0.609,27.2,14.8,35.5,5.0,21.8,8.9,20.120000
35,41,tune_squad11,2030.0,1431.0,112.3,68.000000,37.000000,0.618,32.5,15.3,34.5,5.7,15.7,13.2,30.070000
36,42,tune_squad12,1631.0,1465.7,110.1,66.000000,37.500000,0.613,28.4,14.4,35.7,6.5,20.7,14.0,28.400000
37,43,tune_squad13,1828.0,1507.2,112.7,64.000000,36.500000,0.618,31.3,14.0,34.9,5.9,21.3,14.5,29.094310
38,44,tune_squad14,1821.0,1443.7,118.8,66.000000,36.600000,0.609,27.3,13.5,35.8,7.0,23.8,11.5,22.960000
39,45,tune_squad15,1740.0,1443.9,114.1,68.000000,37.100000,0.611,26.6,15.2,29.3,8.3,17.7,11.1,21.220000
40,46,tune_squad16,1993.0,1459.0,112.5,59.771429,36.900000,0.627,30.4,15.0,33.7,6.3,19.3,14.1,28.760000

In [16]:
ts_name_df = pd.read_csv('tune_squad.csv',sep='\t')
ts_name_df

    ID              player
0   31           Sylvester
1   32  Marvin the Martian
2   33         Road Runner
3   34     Foghorn Leghorn
4   35          Bugs Bunny
5   36          Elmer Fudd
6   37          Lola Bunny
7   38           Porky Pig
8   39     Tasmanian Devil
9   40        Yosemite Sam
10  41            Gossamer
11  42              Granny
12  43      Wile E. Coyote
13  44              Tweety
14  45            Penelope
15  46          Daffy Duck

In [17]:
ts_df = pd.merge(ts_df, ts_name_df, on='ID', how='left', suffixes=('_type','_name'))
ts_df.head()

,ID,player_type,points,possessions,team_pace,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER,player_name
0,31,tune_squad1,2049.0,1434.0,110.0,64.000000,38.800000,0.619,31.5,14.9,35.5,8.3,17.6,12.8,28.440000,Sylvester
1,32,tune_squad2,1795.0,1481.8,112.1,62.000000,35.400000,0.608,31.9,14.5,32.0,6.5,22.5,12.9,23.340000,Marvin the Martian
2,33,tune_squad3,1805.0,1509.9,108.6,64.000000,35.400000,0.622,27.9,13.9,36.0,5.9,27.7,12.2,22.410000,Road Runner
3,34,tune_squad4,1743.0,1422.4,112.9,64.000000,36.300000,0.619,30.9,15.6,34.5,5.9,18.9,14.8,29.853138,Foghorn Leghorn
4,35,tune_squad5,1963.0,1539.1,117.4,59.771429,35.208333,0.633,32.3,16.2,34.0,5.9,19.8,13.1,27.160000,Bugs Bunny

In [19]:
# Rearrange the columns to put the ID and player_name columns next to each other.
column_list = list(ts_df)

player_name = column_list.pop()
column_list[1] = player_name

ts_df = ts_df[column_list]
ts_df.head()

,ID,player_name,points,possessions,team_pace,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER
0,31,Sylvester,2049.0,1434.0,110.0,64.000000,38.800000,0.619,31.5,14.9,35.5,8.3,17.6,12.8,28.440000
1,32,Marvin the Martian,1795.0,1481.8,112.1,62.000000,35.400000,0.608,31.9,14.5,32.0,6.5,22.5,12.9,23.340000
2,33,Road Runner,1805.0,1509.9,108.6,64.000000,35.400000,0.622,27.9,13.9,36.0,5.9,27.7,12.2,22.410000
3,34,Foghorn Leghorn,1743.0,1422.4,112.9,64.000000,36.300000,0.619,30.9,15.6,34.5,5.9,18.9,14.8,29.853138
4,35,Bugs Bunny,1963.0,1539.1,117.4,59.771429,35.208333,0.633,32.3,16.2,34.0,5.9,19.8,13.1,27.160000

In [20]:
# Create a list of only the column names we are interested in.
game_stat_cols = list(ts_df.iloc[:, 7:-1])
game_stat_stdevs = []

# Create a list of standard deviations for each stat.
for stat in game_stat_cols:
    game_stat_stdevs.append(ts_df[stat].std())

# Create a Series of the standard deviations, with the stat names as the index.
stdev_s = pd.Series(game_stat_stdevs, index=game_stat_cols)
stdev_s

TS%     0.008262
AST     2.140494
TO      0.797197
USG     1.892718
ORR     1.139465
DRR     3.017962
REBR    1.802564
dtype: float64

In [21]:
# Import the models and libraries we need.
from sklearn.linear_model import LinearRegression
from numpy.random import randn

# Get the dependent and independent variables for modeling the PER.
X = player_df_final.iloc[:, 7:-1].to_numpy()
y = player_df_final.iloc[:, -1]

In [22]:
# Define and fit the model.
lin_reg = LinearRegression()
lin_reg.fit(X, y)

LinearRegression()

In [24]:
# Print the player with the highest and lower PER for each iteration.
print('Iteration # \thigh PER \tlow PER')
# Run the simulation 10 times.
for i in range(10):

    # Define an empty temporary DataFrame for each iteration.
    # The columns of this DataFrame are the player stats and the index is the players' names.
    game_df = pd.DataFrame(columns=game_stat_cols, index=list(ts_df['player_name']))
    
    # Loop through each stat.
    for stat in game_stat_cols:
        
        # Each player's stats are used to generate a random value for each iteration.
        game_df[stat] = list(ts_df[stat] + randn(len(ts_df)) * stdev_s[stat])
    
    # Use the fitted model to predict players' PERs based on the randomized data.
    game_df['PER'] = lin_reg.predict(game_df)

    # Print the player with the highest and lower PER for each iteration.
    print('Iteration {}'.format(i+1) + ' \t' + game_df['PER'].idxmax() + ' \t' + game_df['PER'].idxmin())

Iteration # 	high PER 	low PER
Iteration 1 	Bugs Bunny 	Tweety
Iteration 2 	Daffy Duck 	Marvin the Martian
Iteration 3 	Sylvester 	Tasmanian Devil
Iteration 4 	Lola Bunny 	Tasmanian Devil
Iteration 5 	Gossamer 	Porky Pig
Iteration 6 	Foghorn Leghorn 	Tasmanian Devil
Iteration 7 	Lola Bunny 	Penelope
Iteration 8 	Lola Bunny 	Penelope
Iteration 9 	Sylvester 	Tasmanian Devil
Iteration 10 	Wile E. Coyote 	Penelope

In [25]:
# Initialize four empty DataFrames, one for each 12-minute period.
number_of_iterations = 4
df_list = [pd.DataFrame(columns=game_stat_cols, index=list(ts_df['player_name'])) for i in range(number_of_iterations)]

# For each period, generate randomized player data and predict the PER.
# Use the model fitted earlier.
for df in df_list:
    for stat in game_stat_cols:
        df[stat] = list(ts_df[stat] + randn(len(ts_df)) * stdev_s[stat])
    df['PER'] = lin_reg.predict(df)

# Concatenate the DataFrames and make the players' names the index.
game_df = pd.concat(df_list)
game_df.rename_axis('player_name', inplace=True)

# Create another index for the period in question.
minutes = [(x // len(ts_df)) * 12 for x in range(len(game_df))]
game_df['minutes'] = minutes
game_df.set_index('minutes', append=True, inplace=True)
game_df = game_df.swaplevel()

game_df

                                 TS%        AST         TO        USG  \
minutes player_name
0       Sylvester           0.616482  32.787240  15.934936  37.697011
        Marvin the Martian  0.613089  35.008549  13.791024  31.517150
        Road Runner         0.631230  27.332883  13.691525  34.319879
        Foghorn Leghorn     0.614197  30.093026  14.309448  29.643865
        Bugs Bunny          0.628192  33.293156  17.058774  37.907783
        Elmer Fudd          0.613141  31.396206  16.998545  34.202349
        Lola Bunny          0.627045  36.622185  13.592868  38.534778
        Porky Pig           0.618906  31.978385  16.801070  38.208777
        Tasmanian Devil     0.607658  24.347760  14.917802  35.958402
        Gossamer            0.621634  30.053177  15.981731  35.576605
        Granny              0.613922  25.964993  15.838815  33.532525
        Wile E. Coyote      0.618689  32.546198  13.894481  33.890804
        Tweety              0.612256  27.963992  12.147221  38.627101
        Penelope            0.630478  28.776583  16.935334  27.626105
        Daffy Duck          0.625338  30.789951  15.355900  32.637203
12      Sylvester           0.617974  32.097842  15.551162  34.897166
        Marvin the Martian  0.597162  33.315642  17.155143  28.846713
        Road Runner         0.633720  27.437079  12.273437  35.960610
        Foghorn Leghorn     0.611024  33.741583  15.476043  36.006766
        Bugs Bunny          0.621195  34.151634  17.327784  32.104575
        Elmer Fudd          0.621528  29.128807  15.561807  35.909882
        Lola Bunny          0.633052  32.379817  14.821602  35.384205
        Porky Pig           0.616648  31.324562  16.619901  37.403599
        Tasmanian Devil     0.606275  29.730030  13.922736  32.886306
        Gossamer            0.621781  33.013483  15.701598  34.551567
        Granny              0.617621  29.005289  14.280501  31.286106
        Wile E. Coyote      0.607596  32.239709  15.406667  34.398136
        Tweety              0.611094  26.637006  12.803851  34.495709
        Penelope            0.612208  27.954994  15.214286  26.496829
        Daffy Duck          0.630096  31.977700  14.861979  35.111325
24      Sylvester           0.624121  30.289580  15.279168  32.369015
        Marvin the Martian  0.615988  31.543248  15.774584  28.526662
        Road Runner         0.625247  27.971170  13.039947  33.346075
        Foghorn Leghorn     0.619304  31.388003  15.916016  35.890311
        Bugs Bunny          0.628822  33.988949  17.098073  38.184847
        Elmer Fudd          0.638239  31.220904  15.760388  36.145912
        Lola Bunny          0.635004  37.295828  13.496405  37.692337
        Porky Pig           0.597232  29.583477  15.032126  33.444944
        Tasmanian Devil     0.603547  27.135731  14.348135  35.598300
        Gossamer            0.637690  31.809709  16.693606  35.902737
        Granny              0.625193  27.270428  16.067653  36.310755
        Wile E. Coyote      0.615705  31.158691  14.657788  32.375764
        Tweety              0.626468  29.464053  12.416409  34.986321
        Penelope            0.608260  30.327846  14.991635  32.218426
        Daffy Duck          0.622614  33.313694  15.097364  33.719445
36      Sylvester           0.615444  27.763383  14.090280  36.321056
        Marvin the Martian  0.610295  35.479674  13.815853  29.186012
        Road Runner         0.637649  24.570801  13.986057  34.516631
        Foghorn Leghorn     0.626813  31.097237  15.871481  33.200377
        Bugs Bunny          0.622029  32.006833  16.935313  33.196925
        Elmer Fudd          0.615324  30.006863  14.719671  37.019098
        Lola Bunny          0.629152  32.761135  14.906728  31.140870
        Porky Pig           0.617115  32.381789  15.982112  36.181052
        Tasmanian Devil     0.597813  28.018270  15.143856  34.761927
        Gossamer            0.620532  34.685010  14.989209  33.569489
        Granny              0.620004  29.326170  15.017354  35.460703
        Wile E. Coyote      0.626709  30.989225  13.815503  38.197822
        Tweety              0.592723  32.982516  13.871617  36.614551
        Penelope            0.604961  26.390877  14.759631  29.711104
        Daffy Duck          0.621316  26.146805  14.969569  34.343711

                                 ORR        DRR       REBR        PER
minutes player_name
0       Sylvester           8.545862  19.650596  14.674384  30.324530
        Marvin the Martian  7.127433  20.153726   9.408707  20.575564
        Road Runner         7.161164  31.134806   8.885173  15.050580
        Foghorn Leghorn     6.827630  18.584159  14.850344  27.345822
        Bugs Bunny          7.040165  17.010505  13.516133  30.948114
        Elmer Fudd          4.022328  21.936683  15.388037  28.022785
        Lola Bunny          3.356071  25.885427  14.528039  30.345264
        Porky Pig           6.681277  13.182978  13.947052  33.672747
        Tasmanian Devil     4.381364  20.124989   8.314560  20.439828
        Gossamer            6.523639  14.118712  14.355705  32.544972
        Granny              7.504247  22.569546  13.688524  24.151567
        Wile E. Coyote      4.877905  22.814571  14.058916  27.387987
        Tweety              5.897723  15.485081  10.225069  29.342177
        Penelope            9.846656  24.210831  10.280330  14.887598
        Daffy Duck          6.249711  14.331930  15.497076  32.936727
12      Sylvester           8.026001  19.553028  11.636741  24.852444
        Marvin the Martian  6.707280  24.744531  15.246639  21.396711
        Road Runner         8.369632  26.511625  12.876346  25.074668
        Foghorn Leghorn     5.057275  13.198094  16.886238  37.293373
        Bugs Bunny          7.111392  22.080693   9.824567  18.725476
        Elmer Fudd          5.151233  23.959976  16.227138  29.727308
        Lola Bunny          4.809713  23.563041  15.359517  29.927434
        Porky Pig           5.113629  24.579920  12.506671  24.432676
        Tasmanian Devil     4.867743  24.728563   6.937811  14.718782
        Gossamer            6.389743  20.352561  16.060849  30.925226
        Granny              6.991358  20.472849  13.095193  24.786259
        Wile E. Coyote      5.523018  21.574684  14.290428  27.116404
        Tweety              7.520881  24.861649   9.808843  19.512066
        Penelope            7.882471  17.915626  14.240632  23.936896
        Daffy Duck          6.464156  16.038088  10.124626  26.513082
24      Sylvester           9.148506  20.503181  10.988143  21.890941
        Marvin the Martian  7.488778  24.840662  12.528044  18.841290
        Road Runner         5.283878  30.566993  13.373278  21.604595
        Foghorn Leghorn     4.473536  15.731468  16.800671  35.677471
        Bugs Bunny          4.745986  21.581687  14.406738  30.177122
        Elmer Fudd          3.312134  22.871711  14.220910  29.266745
        Lola Bunny          5.111060  20.044406  17.609392  37.868669
        Porky Pig           6.375751  14.566952  10.798264  25.181641
        Tasmanian Devil     5.590083  22.569874   7.220406  17.244279
        Gossamer            5.494206  13.619724  14.208194  33.794385
        Granny              5.270376  20.884632  14.222869  28.805040
        Wile E. Coyote      5.875009  22.451413  12.776925  23.944685
        Tweety              6.768020  25.026638  12.442128  24.917084
        Penelope            9.958692  19.319045   9.842273  20.000593
        Daffy Duck          5.751038  15.879871  15.863113  33.496269
36      Sylvester           9.033156  18.102636   9.358339  23.430365
        Marvin the Martian  7.007465  21.396788  11.363251  21.025765
        Road Runner         6.414724  23.452343  13.770856  26.826626
        Foghorn Leghorn     5.433493  13.165303  14.396218  32.501051
        Bugs Bunny          7.002542  18.510722  13.540016  26.830756
        Elmer Fudd          3.621447  23.388789  13.003903  26.856786
        Lola Bunny          4.807579  20.132583  15.350334  29.266511
        Porky Pig           7.010536  18.981936  12.634951  27.355142
        Tasmanian Devil     4.773527  21.445426   7.842550  17.826102
        Gossamer            5.903286  12.351537  14.263606  33.410033
        Granny              6.154106  19.962680  16.428879  32.198028
        Wile E. Coyote      6.952573  22.980570  13.273653  28.601730
        Tweety              6.904184  25.342383  10.888763  21.121299
        Penelope            9.680277  16.492031  11.592878  22.303739
        Daffy Duck          6.702121  10.351313  11.957895  30.927559

In [26]:
# Export the finished DataFrame to CSV.
game_df.to_csv('game_stats.csv')